$white: #fff;
$base-font-size: 1rem;
$search-letter-spacing: 0.025em;

$search-input-color: $white;
$search-input-height: 41px;
$search-input-padding: 0 0 0 1rem;
$search-input-width: 100%;

.search {
  &__container {
    color: $search-input-color;
    display: flex;
    margin: 0 0 2rem;
  }

  &__input {
    box-sizing: border-box;
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    color: rgb(95, 139, 191);
    height: $search-input-height;
    padding: $search-input-padding;
    letter-spacing: $search-letter-spacing;
    font-size: $base-font-size;
    width: $search-input-width;
    text-transform: uppercase;
    font-weight: 300;

    &::-webkit-input-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder,
    :-moz-placeholder {
      color: var(--text_light);
      opacity: 0.35;
    }

    &:hover {
      background-color: #18242b82;
    }

    &:focus {
      outline: none;
      color: var(--text_light);

      &::-webkit-input-placeholder,
      ::-moz-placeholder,
      :-ms-input-placeholder,
      :-moz-placeholder {
        color: var(--text_light);
        opacity: 0.7;
        outline: none;
      }
    }
  }
}


