$white: #fff;
$base-font-size: 1rem;
$search-letter-spacing:0.025em;

$search-input-color: $white;
$search-input-height: 41px;
$search-input-padding: 0 0 0 1rem;
$search-input-width: 100%;

.search {
  &__container {
    color: $search-input-color;
    display: flex;
    margin: 0 0 2rem;
  }

  &__input {
    box-sizing: border-box;
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    color: rgb(95, 139, 191);
    height: $search-input-height;
    padding: $search-input-padding;
    letter-spacing: $search-letter-spacing;
    font-size: $base-font-size;
    width: $search-input-width;
    text-transform: uppercase;
    font-weight: 300;

    &:hover {
      background-color: #18242b82;
    }
    &:focus {
      outline: none;
      color: var(--text_light);
    }
  }
}

.search__input::-webkit-input-placeholder {color: var(--text_light); opacity: 0.35;}
.search__input::-moz-placeholder {color: var(--text_light); opacity: 0.35;}
.search__input:-ms-input-placeholder {color: var(--text_light); opacity: 0.35;}
.search__input:-moz-placeholder {color: var(--text_light); opacity: 0.35;}

.search__input:focus {outline: none; color: var(--text_light);}
.search__input:focus::-webkit-input-placeholder {color: var(--text_light); opacity: 0.7;}
.search__input:focus::-moz-placeholder {color: var(--text_light); opacity: 0.7;}
.search__input:focus:-ms-input-placeholder {color: var(--text_light); opacity: 0.7;}
.search__input:focus:-moz-placeholder {color: var(--text_light); opacity: 0.7;}


.searchbar {
  height: 41px;
  padding-left: 15px;
  width: 600px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: none;
  outline: none;
  -webkit-appearance: none;
  font-weight: 300;
  color: white;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;

  &:hover {
    background-color: rgba(26, 188, 156, 0.7);
  }
}

.button {
  width: 100px;
}

.searchbar,
.button {
  height: 41px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: var(--text_light);
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: 300;
  font-size: 16px;

}
